@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ДОБРЕ ДОШЛИ!</h1>
    <p class="lead"> Тук можете да кандидатствате за онлайн курсовете във ФМИ на Пловдивски университет "Паисий Хилендарски"!</p>
</div>

