<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Грешка</title>
</head>
<body>
    <hgroup>
        <h1>Грешка в системата.</h1>
        <h2>Появи се грешка при изпращането на вашата заявка.</h2>
    </hgroup>
</body>
</html>
